@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Xanh+Mono:ital@0;1&display=swap');
@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
}

:root{
    --fundo:#caff91c4;
   --qbranco: #b9fdd8; 
   --clarissimo: #83E1AD;
   --claro: #3ad07d;
   --escurinho: #79ffb5;
   --escuro: #1a5b37;
   
   --font-padrao: arial, verdana, helvetica, sans-serif;
   --font-import: 'oswald', serif;
   --font-droid: 'Android', monospace;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--fundo);
}
a.fora::after{
    content: '\1F517';
}
header{
    background-image: linear-gradient(to top,var(--escuro),var(--claro));
    min-height:200px;
    padding-top: 40px;
    text-align: center;
    box-shadow: px 2px 5px rgba(0, 0, 0, 0.533) ;
}
header > h1{
    font: bolder 3.5em "oswald",sans-serif;
    color: white; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.533);
}
header > p{
    font: bolder 1.5em "oswald",sans-serif;
    color: white; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.533);
}
nav{
   background-color: var(--escuro);
   padding: 20px;
   box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.167);
}
nav > a{
    text-decoration: none;
    color: var(--qbranco);
    padding: 10px;
    margin-left: 30px;
    transition-duration: .5s;
}
nav > a:hover{
    text-decoration: underline;
    color: var(--escuro);
}
main{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-width:400px;
    max-width:800px;
    margin:  auto;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.43);
}
main h1#title{
    font: 2em var(--font-droid);
    color: var(--escuro);
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.203);
}
main h2{
    font: 1.4em var(--font-droid);
    color: var(--escuro);
    background-image: linear-gradient(90deg, var(--qbranco), white) ;
    text-indent: 1em;
}
main img{
    width: 100%;
}
main p{
    text-align: justify;
    text-indent: 4em;
    padding: 18px 0px;
    line-height: 2em;
}
main a{
    text-decoration: none;
    color: var(--escuro);
    font-weight: bold;
    padding: 5px;
}
main a:hover{
    border:dashed;
    background-color: var(--claro);
    border-radius: 2px;
    color: var(--qbranco);
}
main strong{
    font-style: italic;
}
#peq{
    max-width: 300px;
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--escuro);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.8%;

    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--clarissimo);
    border-radius: 10px;
    padding: 20px;
    border: 3px solid var(--escuro);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.27);
}
aside h3{
    color: white;
    background-color: var(--escuro);
    padding: 10px;
    margin: -23px -23px 0px -23px;
    border-radius: 10px 10px 0px 0px;
}
ul{
    list-style-type: '\1F4AB\00a0\00a0';
    columns: 2;
    list-style-position: inside;
}
abbr{
    text-decoration: none;
}
footer{
    text-align: center;
    padding: 10px;
}
footer p{
    color: white;
    font-size: .9em;
}
footer a{
    text-decoration: none;
    color: var(--escuro);
}
footer a:hover{
    color: var(--claro);
    text-decoration: underline;
}
